.container-grid {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 40px auto 180px;
}

.container-grid > div {

    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.header {
    grid-column: 1 / -1;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.menu {
    grid-row: 2 / -2;
    grid-column: 1 / 3;
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    padding-top: 10px;
}

.message-header{
    grid-column: 3 / -2;
    grid-row: 2 / 3;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    height: 70px;
    background-color: rgba(240, 255, 255, 0.5);
    padding: 10px;
    margin-top: 10px;



}

.content {
    grid-column: 3 / -2;
    grid-row: 3 / -2;
    padding-top: 40px;
    overflow: hidden;

}
.content > div:nth-child(2n){
    background-color: azure;
}


.sender {
    grid-column: 3 / -2;
    grid-row: -2 / -1;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    background-color: ivory;
    border: 1px solid darkgray;
    align-self: end;
    padding-top: -20px;
    margin-top: -20px;



}
